.cart{
    width: 200px;
    float: left;

    display: flex;
    flex-direction: column;
    height: 360px;

}

.cart h1{
    text-align: center;
}
.cart img{

    flex: 1 0 auto;
    width: 200px
}

.product {
    flex: 0 0 auto;
}

.product p{
    text-align: center;
}