.cart{
    width: 300px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}
.cart h1{
    text-align: center;
}

.cart img{
    width: 100%
}

.product{
    margin: 0 auto;
    width: 50px;
    height: 75px;
}