{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block pagestyle %}<link rel="stylesheet" href="{{ asset('css/main.css') }}">{% endblock %}

{% block title %}Main{% endblock %}

{% block content %}
    {% for flower in type %}
        <div class="cart">
            <img src="{{ asset('uploads/img/flower/' ~ flower.img) }}">
            <div class="product">
                <a class="title" href="{{ path('flowers', {'id': flower.id }) }}"><p>{{ flower.name }}</p>
                </a>

            </div>
        </div>
    {% endfor %}
{% endblock %}